/*
Theme Name:     ClimateAction.Tech
Theme URI:      https://climateaction.tech
Template:       neve
Author:         Hannah Smith hannah@opcan.co.uk
Author URI:     https://opcan.co.uk
Description:    A customised child theme of Neve especially for CAT.
Version:        1.0.0
License:        GNU General Public License v2 or later
License URI:    http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:    cat
*/

/* 1. UTILITY FIRST CLASSES     */
/* 2. HTML ELEMENTS             */

/* 3. ACTIONS                   */
/* 3A. ACTION TEASERS           */
/* 3B. SINGLE ACTION PAGE       */

/* 20. BLOCKS                   */
/* 20A. YOAST FAQ SCHEMA BLOCKS */
/* 20B. CLICK TO TWEET BLOCKS   */

/* 

/* 1. UTILITY FIRST CLASSES     */
.pt-0 {
	padding-top: 0;
}
.pb-1 {
	padding-bottom: 1rem;
}


/* 2. HTML ELEMENTS             */
h2 {
	padding-top: 2em;
}

h3, h4 {
	padding-top: 1.3em;
}

/* 3. ACTIONS                  */

/* 3A. ACTION TEASERS        */
/* Hide action meta info like written by, date written etc. */
.type-action .nv-meta-list {
	display: none;
}
.type-action .article-content-col {
	border-radius: 8px;
	box-shadow: 0px 0px 16px 4px rgba(0,0,0,.16);
}
.type-action .blog-entry-title,
.type-action .entry-summary {
	padding-left: 1.6rem;
	padding-right: 1.6rem;
}
.type-action .article-content-col .content {
	border: 0;
	/* padding-bottom: 0; */
}
.type-action .article-content-col .blog-entry-title{
	padding-top: 1rem;
	padding-bottom: 0.6rem;
}

/* 3B. SINGLE ACTION PAGE    */
.action-template-default .single-post-container article > div {
	max-width: 850px !important; /* We need to overwrite any settings in the theme that can be changed. Sorry for the !important. */
	margin-left: auto;
	margin-right: auto;
}
.action-template-default .entry-header:first-child {
	margin-top: 60px;
}


/* 20. BLOCKS                   */

/* 20A. YOAST FAQ SCHEMA BLOCKS */
.schema-faq-section {
	margin: 0 -15px;
}

/* QUESTION STYLING    */
.schema-faq-question {
	position: relative;
	display: block;	
	margin-bottom: 0.6rem;
	padding: 10px 50px 10px 15px;
	cursor: pointer;
}
/* Styling for question on hover and when the question is open */
.schema-faq-question:hover,
.is-open .schema-faq-question {
	background-color: #ECF2AD;
	border-radius: 5px;
}
.schema-faq-question::after {
	position: absolute;
	top: 10px;
	right: 0;
	font-family: 'Dashicons';
	content: "\f347";
	color: #004880;
	font-size: 40px;
	height: 40px;
	width: 40px;
	margin-right: 10px;
	transform: rotate(0deg);
	transition: transform 0.3s linear;
}
.schema-faq-question:hover::after {
	color: black;
}
.is-open .schema-faq-question::after {
	transform: rotate(180deg);
	margin-top: -12px;
	color: black;
}

/* ANSWER STYLING    */
.schema-faq-answer {
	display: none;
	padding: 0 15px;
	margin-bottom: 2rem;
}
.is-open .schema-faq-answer {
	display: block;
}

/* 20B. CLICK TO TWEET BLOCKS   */
.bctt-click-to-tweet {
	box-shadow: 0px 0px 16px 4px rgba(0,0,0,.16);
}
.bctt-ctt-text {
	display: block;
}
.bctt-ctt-text a {
	font-family: inherit !important; /* Plugin uses !important, so I must too */
	font-size: 1rem;
}
a.bctt-ctt-btn {
	background-color: #004880;
	background-position: 125px center;
	color: white !important; /* Plugin uses !important, so I must too */
	border-radius: 5px;
	padding: 3px 30px 3px 10px;
	margin-top: 0.4rem;
}